body {
    font-family: 'DM Sans', sans-serif;
    background-color: #F4EEE2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ai-head{
    color: rgb(255, 191, 73);
}

.desc{
    margin-bottom: 1.5em;
    margin-top: 0;
    color: #6d6d6d;
}

.form-container {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
}

.form-container h1 {
    font-family: 'Kingred Modern', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 300%;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

select,
input[type="number"],
input[type="text"] {
    color: #aaa;
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
    appearance: none; /* Remove default dropdown arrow */
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="%23999" d="M7 10l5 5 5-5z"/></svg>'); /* Add custom dropdown arrow */
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 30px; /* Add space for the dropdown arrow */
}

select option {
    background-color: #fff !important;
    color: #333 !important;
    padding: 10px !important;
    transition: background-color 0.3s ease-in-out !important;
}

select option:hover {
    background-color: #f2f2f2; 
}

select option:first-child {
    color: #aaa;
}

select option:first-child::before,
select option:first-child::after {
    content: "Please Select";
    color: #aaa;
}

select option:checked {
    color: #000;
}

select:focus,
input[type="number"]:focus,
input[type="text"]:focus {
    outline: none;
    border-color: #4CAF50;
}

select::placeholder,
input[type="number"]::placeholder,
input[type="text"]::placeholder {
    color: #999;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #5bcd61;
    transform: scale(1.05);
}

/* Popup styles */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 20px;
}

.pop-up-head{
    color: orange;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

#startTestButton{
    background-color: #4CAF50;
    color: white;
    padding: 7px 0px;
    width: 20%;
    margin: 0 40%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}


#startTestButton:hover {
    background-color: #5bcd61;
    
    transform: scale(1.05);
}

/* Error Popup styles */
#errorPopup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#errorPopup .popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 20px;
}

#errorPopup .error-head{
    color: red;
}

#errorPopup .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: all 0.25 ease-in-out;
}

#errorPopup .close-button:hover,
#errorPopup .close-button:hover {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

/* Styles for test_page.html
#test-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#test-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

#test-header h1 {
    font-family: 'Kingred Modern', sans-serif;
    margin: 0;
}

#timer {
    font-size: 1.2rem;
    font-weight: bold;
}

#details {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#questions-display {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
} */

::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track-piece{
	background-color: #F4EEE2;
}

::-webkit-scrollbar-thumb{
	background-color: #CBCBCB;
	outline: 2px solid #F4EEE2;
	outline-offset: -2px;
	border: .1px solid #B7B7B7;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #909090;
}